
<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p><%= @question.resolved %></p>
<p><%= @resolution_status %></p>

  
<%= link_to "Edit the question", edit_question_path(@question), class: 'btn btn-success' %>
